# Node
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# React Native / Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.keystore
*.jks
*.orig.*
*.log

# React Native / iOS
ios/build/
ios/Pods/
*.xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundler
vendor/bundle

# Misc
*.pem
*.p8
*.p12
*.key
*.mobileprovision
.DS_Store

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo
